<div class="hero-head">
    <div class="box">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">

                <div class="navbar-brand">
                    <span class="navbar-item">
            <span class="icon">
              <a href="/menu" class="button is-info is-light">
                <i class="fas fa-shower fa-2x"></i>
              </a>
            </span>
                    </span>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>

                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end">
                    
                    <span class="navbar-item">
                                    <a href= 'http://localhost:10000/users' class="button is-info is-inverted">
                                      <span>Użytkownicy</span>
                    </a>
                    </span>
                    
                    <span class="navbar-item">
                                    <a href='http://localhost:16000' class="button is-info is-inverted">
                                      <span>Kamery</span>
                    </a>
                    </span>

              <span class="navbar-item">
                <a href="http://localhost:10000/stats" class="button is-info is-inverted">
                  <span>Statystyki</span>
                          </a>
                          </span>
        
              <span class="navbar-item">
                <a href="http://localhost:10000/myprofile" class="button is-info is-inverted">
                  <span>Mój profil</span>
                </a>
              </span>

                        <span class="navbar-item">
              <a href="http://localhost:10000/login" class="button is-info">
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                        <span>Wyloguj</span>
                        </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>