<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    {% include 'navbar.html' %}

    <div class="columns is-centered" style="margin-top: 15px;">
        <div class="column is-half">
            <div class="box">
                <section class="hero is-small">
                    <div class="hero-body has-text-centered">
                        <p class="title is-1">
                            {{g.personal_number_of_logs}}
                        </p>
                        <p class="subtitle">
                            <span class="icon-text">
                                <span class="icon">
                                  <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Liczba wszystkich zalogowań</span>
                              </span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="columns is-centered" style="margin-top: 15px;">
        <div class="column is-half">
            <div class="box">
                <form method="POST">
                    <div class="field">
                        <label class="label">ID</label>
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder={{g.id}} disabled>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Uprawnienia</label>
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder={{g.credential}} disabled>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-tag"></i>
                            </span>
                        </p>
                    </div>

                    <div class="columns">

                        <div class="column">
                            <label class="label">Nazwa użytkownika</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="{{g.username}}" disabled>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>   
                        </div>
                        <div class="column">
                            <label class="label">Nowa nazwa użytkownika</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="new_username" placeholder="New username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>   
                        </div>
                    </div>

                    
                    <div class="columns">

                        <div class="column">
                            <label class="label">Hasło</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="********" disabled>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>   
                        </div>
                        <div class="column">
                            <label class="label">Nowe hasło</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="new_password" placeholder="New password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>   
                        </div>
                        <div class="column">
                            <label class="label">Powtórz nowe hasło</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="new_password_2" placeholder="New password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>   
                        </div>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button is-info is-fullwidth main_color is-light">
                                Ztwierdż zmiany
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>

        
    </div>

    <div class="columns is-centered">
        <div class="column is-half">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %} {% if msg == "Taki użytkownik już istnieje"%}
            <div class="notification is-danger is-light has-text-centered">{{msg}}</div>
            {% endif %} {% if msg == "Hasła nie są jednakowe"%}
            <div class="notification is-danger is-light has-text-centered">{{msg}}</div>
            {% endif %}
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>


</body>