<!-- <span class="navbar-item">
              <a href= '/menu/add_user' class="button is-info is is-inverted">
                <span>Dodaj Użytkownika</span> -->
</a>
</span>

<span class="navbar-item">
                <a href= '/users' class="button is-info is-inverted">
                  <span>Użytkownicy</span>
</a>
</span>

<span class="navbar-item">
                <a href='http://localhost:16000/video_feed1' class="button is-info is-inverted">
                  <span>Kamery</span>
</a>
</span>