<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    {% include 'navbar.html' %}




    <div class="container is-widescreen" style="margin-top: 24px; ">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <section class="hero is-medium has-text-centered">
                        <div class="hero-body">
                            <p class="title is-2">
                            4
                            </p>
                            <p class="subtitle">
                                <span class="icon-text">
                                    <span class="icon">
                                      <i class="fas fa-video"></i>
                                    </span>
                                    <span>Kamery</span>
                                  </span>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <section class="hero is-medium">
                        <div class="hero-body has-text-centered">
                            <p class="title is-2">
                                {{g.number_of_users}}
                            </p>
                            <p class="subtitle">
                                <span class="icon-text">
                                    <span class="icon">
                                      <i class="fas fa-users"></i>
                                    </span>
                                    <span>Użytkownicy</span>
                                  </span>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            </div>
          </div>
      </div>

    <div class="container is-widescreen" style="margin-top: 15px; ">
    <div class="columns">
        <div class="column">
            <div class="box">
                <section class="hero is-medium">
                    <div class="hero-body has-text-centered">
                        <p class="title is-2">
                            4
                        </p>
                        <p class="subtitle">
                            <span class="icon-text">
                                <span class="icon">
                                  <i class="fas fa-home"></i>
                                </span>
                                <span>Obszary</span>
                              </span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <section class="hero is-medium">
                    <div class="hero-body has-text-centered">
                        <p class="title is-2">
                            {{g.number_of_logs}}
                        </p>
                        <p class="subtitle">
                            <span class="icon-text">
                                <span class="icon">
                                  <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Liczba wszystkich zalogowań</span>
                              </span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        </div>
        </div>
    </div>



    
</body>